<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net452" />
  <package id="CrystalDecisions.ReportSource" version="1.0.0" targetFramework="net452" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net452" />
  <package id="CrystalDecisions.Windows.Forms" version="1.0.0" targetFramework="net452" />
  <package id="CrystalReports.FlashControlV71" version="13.0.3501" targetFramework="net452" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net452" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net452" />
</packages>