<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net452" />
  <package id="CrystalDecisions.ReportSource" version="1.0.0" targetFramework="net452" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net452" />
  <package id="CrystalDecisions.Windows.Forms" version="1.0.0" targetFramework="net452" />
</packages>